/*--------------------------chapter6----------------------------- */
.sec,
.r-sec {
  border: 2px solid #3e6e78;
  border-radius: 10px;
  margin: 50px;
  width: 300px; }
  .sec .heading,
  .r-sec .heading {
    padding: 10px 20px;
    border-bottom: 1px dashed #3A7486; }
    .sec .heading .icon-circle,
    .r-sec .heading .icon-circle {
      float: left;
      border: 8px solid #CB585B;
      width: 8px;
      height: 8px;
      border-radius: 16px;
      background-color: #fff; }
    .sec .heading h4,
    .r-sec .heading h4 {
      margin-left: 30px;
      color: #333;
      font-size: 16px;
      line-height: 150%; }

.react {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .react .r-sec {
    padding: 10px; }
    .react .r-sec .heading {
      padding: 0 0 10px;
      margin-bottom: 10px; }
      .react .r-sec .heading h3 {
        margin-left: 30px; }

.animation .sec {
  float: left; }
  .animation .sec #myCanvas-1 {
    border: 10px solid #CB585B;
    position: relative;
    margin: 20px auto 40px;
    height: 200px;
    width: 200px;
    border-radius: 110px;
    animation: circleBall 5s linear infinite; }
    .animation .sec #myCanvas-1 .ball {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: #71b5ca;
      position: absolute;
      top: -15px;
      left: 40%; }
  .animation .sec .loading {
    position: relative;
    height: 140px; }
    .animation .sec .loading .circle1,
    .animation .sec .loading .circle2 {
      position: absolute;
      top: 50px;
      left: 110px;
      display: block;
      width: 80px;
      height: 80px;
      border-radius: 40px;
      background: rgba(197, 29, 33, 0.6); }
    .animation .sec .loading .circle1 {
      animation: loading 1s ease-in-out infinite; }
    .animation .sec .loading .circle2 {
      animation: loading-reverse 1s ease-in-out infinite; }
    .animation .sec .loading .bar1,
    .animation .sec .loading .bar2,
    .animation .sec .loading .bar3 {
      display: block;
      position: absolute;
      top: 30px;
      width: 10px;
      height: 30px;
      border-radius: 8px;
      background: rgba(197, 29, 33, 0.6);
      animation: loading-bar 1s linear infinite; }
    .animation .sec .loading .bar1 {
      left: 125px; }
    .animation .sec .loading .bar2 {
      left: 145px;
      animation-delay: 0.2s; }
    .animation .sec .loading .bar3 {
      left: 165px;
      animation-delay: 0.4s; }

@keyframes circleBall {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes loading {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes loading-reverse {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes loading-bar {
  0% {
    transform: scaleY(1); }
  20% {
    transform: scaleY(0.5); }
  50% {
    transform: scaleY(1); }
  80% {
    transform: scaleY(1.2); }
  100% {
    transform: scaleY(1); } }

/*# sourceMappingURL=c6.css.map */
